---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/93294/events?auth_key=7217b3c3ef1446696bf5&auth_signature=346a5af9583659b99707bee1e80fe13e5ef3d5f707bb80dbfa69230747468c7c&auth_timestamp=1413633126&auth_version=1.0&body_md5=038aa51612dfa4db8351dd56825aa871
    body:
      encoding: UTF-8
      string: '{"name":"join","channels":["demo-b68da55456d91458"],"data":"{\"guest_id\":651}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 18 Oct 2014 11:52:06 GMT
recorded_with: VCR 2.9.3
