---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/93294/events?auth_key=7217b3c3ef1446696bf5&auth_signature=f80ce50f0eb107016b412ac44b383f12c02406baf623b894237028b2cd0e3b1d&auth_timestamp=1413630648&auth_version=1.0&body_md5=e18c59c4c52bdbe31b96299754ee7d14
    body:
      encoding: UTF-8
      string: '{"name":"join","channels":["demo-6c0df6948580a920"],"data":"{\"guest_id\":567}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 18 Oct 2014 11:10:49 GMT
recorded_with: VCR 2.9.0
