---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/93294/events?auth_key=7217b3c3ef1446696bf5&auth_signature=83876c036d2d92f1f6ac4ed72b108a32300408093d7cf6c83e7a943561e7cbc3&auth_timestamp=1413633825&auth_version=1.0&body_md5=2b50fb3d3d8df3c9e25e2c27f4e2d35d
    body:
      encoding: UTF-8
      string: '{"name":"join","channels":["demo-access-1"],"data":"{\"guest_id\":716}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 18 Oct 2014 12:03:46 GMT
- request:
    method: post
    uri: http://api.pusherapp.com/apps/93294/events?auth_key=7217b3c3ef1446696bf5&auth_signature=523a58f32d683f36a1fb0a6552224be2cc19892ed0b92d7255e7031397218fbc&auth_timestamp=1413633826&auth_version=1.0&body_md5=ffba4b8e036c408ad11792224942ba53
    body:
      encoding: UTF-8
      string: '{"name":"leave","channels":["demo-access-1"],"data":"{\"guest_id\":716}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 18 Oct 2014 12:03:46 GMT
recorded_with: VCR 2.9.3
