.button
  padding: 0.5em 1em
  text-decoration: none
  border-width: 0
  display: inline-block
  vertical-align: middle
  white-space: nowrap
  font-family: inherit
  cursor: pointer
  line-height: inherit
  border: 2px solid $primary-color
  -webkit-appearance: none
  border-radius: 5px
  background: transparent
  +box-sizing(border-box)
  +transition(opacity 0.2s ease-out)

  .no-touch &:hover
    opacity: 0.7

.button--small
  @extend .button
  padding: 0.4em 0.6em

.button--large
  @extend .button
  padding: 0.8em 1.5em
  margin-right: 5px

.button--huge
  @extend .button
  padding: .4em
  +at-breakpoint(gte-small-desk)
    padding: 1em 1.5em

.button--expand
  @extend .button
  text-align: center
  display: block

.button--primary,
.button--secondary,
.button--notice,
.button--alert
  @extend .button

.button--primary
  border-color: $primary-color
  color: $primary-color

.button--secondary
  background-color: $secondary-color
  border-color: $secondary-color

.button--notice
  border-color: $notice-color

.button--alert
  border-color: $alert-color

.button--rev
  @extend .button
  border-color: white
  color: white

.button--disabled
  opacity: .6
  border-color: $base-body-color
  color: $base-body-color
  cursor: default

