.camera
  position: relative
  margin: auto
  video
    display: none
  canvas
    margin: auto
    display: block

.camera__shot
  display: block
  text-align: center
  width: 8em
  padding: 1em
  background-color: $red-color
  color: white
  text-decoration: none
  text-transform: uppercase
  margin: .5em auto
