.footer
  background-color: $dark-bg-color
  text-align: center
  color: $white-color
  padding: 100px 5%

.footer__logo
  +margin-bottom(2)
  width: 180px
  display: inline-block

.footer__body
  a
    color: $green-color
