.infos
  padding: 0 30%
  text-align: center
  +vertical-padding(3)

.infos__title
  +font-size(alpha)
  +vertical-padding(3)


.infos__body
  +font-size(gamma)

.infos__actions
  +vertical-padding(2)

.infos--light
  @extend .infos
  background-color: $light-bg-color


