---
http_interactions:
- request:
    method: post
    uri: http://api.pusherapp.com/apps/93294/events?auth_key=7217b3c3ef1446696bf5&auth_signature=fdfb09b4712ebc36ae914450bcb993f68076e92af6cb4fffe78c1f8fd0bbb185&auth_timestamp=1413633265&auth_version=1.0&body_md5=9ce0034335549d51e35090838f4e75a4
    body:
      encoding: UTF-8
      string: '{"name":"join","channels":["demo-access-1"],"data":"{\"guest_id\":661}"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Sat, 18 Oct 2014 11:54:26 GMT
recorded_with: VCR 2.9.3
